.grid-layout {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-auto-rows: 50px;
    background-color:black;
    color:white;
  }
  form{

  }
  input{
    position: relative;
    height: 50px;
    border-radius: 50px;
    width: 100%;
    font-size: large;
    font-weight: bold;
    background: radial-gradient(white, grey);
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    text-align: center;
    transition: 1s;
  }
  .container{
    display: flex;
    position: relative;
    top: 100px;
    grid-gap: 0px;
    left: 5%;
    width: 90%;
    height: 550px;
    background-color: grey;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    border-radius: 40px;
  }
  .item{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* border-radius: 0px 25px;
    border-style: solid;
    border-color: white;
    text-align: center; */
    color: white;
    transition: 1s;
    rotate: 45deg;
  }
  .item:hover{
    transition: 1s;
    align-self: center;
    margin-top: -100px;
    position: relative;
  }
  img{
    margin-top: 25%;
    rotate: -45deg;
  }
  .item1{
    position: relative;
    left: 32.42%;
  }
  .test{
    height: 500px;
    background-color: rgba(0, 0, 255, 0.5);
    position: relative;
    left: 50%;
    width: 2px;
    top: -500px;
  }
  table{
    background-color: white;
    color: black;
    border-radius: 25px;
  }